<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codejune.sutaekhighschool"
    android:versionCode="19"
    android:versionName="3.4.3.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sutaek_Material">

        <activity
            android:name="com.codejune.sutaekhighschool.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme.Sutaek_Material.Translucent"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.SubActivity"
            android:label="@string/allmenu"
            android:parentActivityName="com.codejune.sutaekhighschool.MainActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Appinfo"
            android:label="@string/info"
            android:parentActivityName="com.codejune.sutaekhighschool.MainActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Notices"
            android:label="@string/notices"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.NoticesContents"
            android:screenOrientation="portrait"
            android:label="@string/notices"
            android:parentActivityName="com.codejune.sutaekhighschool.Notices" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.SchoolEvent"
            android:label="@string/schoolevent"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.EventsContents"
            android:screenOrientation="portrait"
            android:label="@string/notices"
            android:parentActivityName="com.codejune.sutaekhighschool.SchoolEvent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Schoolinfo"
            android:label="@string/schoolinfo"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Schedule"
            android:label="@string/schedule"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity"
            android:theme="@style/Theme.Sutaek_Material.NoActionBar"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Schoolintro"
            android:label="@string/schoolintro"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Notices_Parents"
            android:label="@string/notices_parents"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.ParentsContents"
            android:screenOrientation="portrait"
            android:label="@string/notices_parents"
            android:parentActivityName="com.codejune.sutaekhighschool.Notices_Parents" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Doc_Readme"
            android:label="@string/title_activity_doc__readme"
            android:parentActivityName="com.codejune.sutaekhighschool.Appinfo"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.Appinfo" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Doc_Contributors"
            android:label="@string/title_activity_doc__contributors"
            android:parentActivityName="com.codejune.sutaekhighschool.Appinfo"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.Appinfo" />
        </activity>
        <activity
            android:name=".WebViewActivityNotices"
            android:parentActivityName="com.codejune.sutaekhighschool.Notices"
            android:screenOrientation="nosensor">
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".WebViewActivityParent"
            android:parentActivityName="com.codejune.sutaekhighschool.Notices_Parents"
            android:screenOrientation="nosensor">
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".WebViewActivityEvent"
            android:parentActivityName="com.codejune.sutaekhighschool.SchoolEvent"
            android:screenOrientation="nosensor">
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".Meal"
            android:label="@string/meal"
            android:parentActivityName=".SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <!-- Auto Start Receiver -->
        <receiver
            android:name="com.codejune.sutaekhighschool.BootReceiver"
            android:enabled="true"
            android:process=":remote"
            android:exported="true"
            android:label="@string/app_name"
            android:persistent="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
